

<nav class="navbar navbar-dark bg-secondary">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Currency Rate Project</a>
    </div>

      <a class="navbar-brand" href="/"><button type="button" class="btn btn-secondary">Home</button></a>
      {% if request.user.is_authenticated %}
        <div>Hello, {{ request.user.first_name }}!</div>
        <a class="navbar-brand" href="{% url 'accounts:my_profile' %}"><button type="button" class="btn btn-secondary">My Profile</button></a>
        <a class="navbar-brand" href="{% url 'password_change' %}"><button type="button" class="btn btn-secondary">Change password</button></a>
        <a class="navbar-brand" href="{% url 'logout' %}"><button type="button" class="btn btn-secondary">Log Out</button></a>
      {% else %}
        <div>Hello, Visitor!</div>
        <a class="navbar-brand" href="{% url 'login' %}"><button type="button" class="btn btn-secondary">Log In</button></a>
        <a class="navbar-brand" href="{% url 'accounts:signup' %}"><button type="button" class="btn btn-secondary">Sign Up</button></a>
    {% endif %}

    </div>
</nav>