{% extends 'base.html' %}

{% block title_block %}Contact List{% endblock title_block %}

{% block main_content %}
    <table>
        <tr>
            <th>{{ "email_from" }}</th>
            <th>{{ "email_to" }}</th>
            <th>{{ "subject" }}</th>
            <th>{{ "message" }}</th>
            <th>{{ "time" }}</th>
        </tr>
        {% for us in contactus_list %}
        <tr>
            <td>{{ us.email_from }}</td>
            <td>{{ us.email_to }}</td>
            <td>{{ us.subject }}</td>
            <td>{{ us.message }}</td>
            <td>{{ us.sent }}</td>
        </tr>
        {% endfor%}
    </table>

{% endblock main_content %}
