{% extends 'currency/base.html' %}

{% block title_block %} Reset password {% endblock title_block %}

{% block main_content %}
    {% if validlink %}
    <h1>Enter a new password</h1>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change my password</button>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it
        has already been used.  Please request a new password reset.</p>
    {%  endif %}
{% endblock main_content %}