{% extends 'currency/base.html' %}


{% block title_block %}HOME{% endblock title_block %}

{% block main_content %}
    <div>Currency Exchange Project</div>
    <div>
    View list: <a href="/rate/list", title="Link", target="'_blank">Click Here</a>
    </div>
    <div>Contacts:</div>
    <div>
    View list: <a href="contact/us/", title="Link", target="'_blank">Click Here</a>
    </div>
    <div>Source:</div>
    <div>
    View list: <a href="/source/list/", title="Link", target="_blank">Click here</a>
    </div>

{% endblock main_content %}