{% extends 'currency/base.html' %}

{% block title_block %} Delete {% endblock title_block %}

{% block main_content %}
    <h4>Delete Rate</h4>
    <div>Do you want to delete rate with ID {{ rate.id }}?</div>
    {% load crispy_forms_tags %}
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Yes</button>
    <a href="{% url 'currency:rate_list' %}">
        <button class="btn btn-secondary">No</button>
    </a>
    </form>




{% endblock main_content %}