{% extends 'currency/base.html' %}

{% block title_block %}Response Log{% endblock title_block %}

{% block main_content %}
    <div class="container mt-3">
        <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>response_time</th>
            <th>request_method</th>
            <th>query_params</th>
            <th>ip</th>
            <th>path</th>
        </tr>
            {% for log in responselog_list %}
            <tr>
                <td style="text-align: center">{{ log.id }}</td>
                <td style="text-align: center">{{ log.response_time }}</td>
                <td style="text-align: center">{{ log.request_method }}</td>
                <td style="text-align: center">{{ log.query_params }}</td>
                <td style="text-align: center">{{ log.ip }}</td>
                <td style="text-align: center">{{ log.path }}</td>
            </tr>
            {% endfor%}
        </table>
    </div>
    {% include 'parts/pagination.html' %}
{% endblock main_content %}
